openapi: 3.1.1
info:
  title: Alpic analytics tunnels API
  version: 1.0.0
servers:
- url: https://api.alpic.ai
security:
- bearerAuth: []
tags:
- name: tunnels
paths:
  /v1/tunnels/ticket:
    get:
      operationId: tunnels.getTicket.v1
      summary: Get a tunnel ticket
      description: Get a signed ticket for establishing a tunnel connection. Requires user authentication (API keys are not supported).
      tags:
      - tunnels
      responses:
        '200':
          description: The tunnel ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  subdomain:
                    type: string
                    description: The subdomain assigned to the user
                  ticket:
                    type: string
                    description: The signed tunnel ticket
                  tunnelHost:
                    type: string
                    description: The tunnel host to connect to
                required:
                - subdomain
                - ticket
                - tunnelHost
        '403':
          description: '403'
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    defined:
                      const: true
                    code:
                      const: FORBIDDEN
                    status:
                      const: 403
                    message:
                      type: string
                      default: Forbidden
                    data: {}
                  required:
                  - defined
                  - code
                  - status
                  - message
                - type: object
                  properties:
                    defined:
                      const: false
                    code:
                      type: string
                    status:
                      type: number
                    message:
                      type: string
                    data: {}
                  required:
                  - defined
                  - code
                  - status
                  - message
components:
  securitySchemes:
    bearerAuth:
      type: http
      description: Bearer token for authentication. Use an API key from the API Keys page in team settings, or an OAuth access token.
      scheme: bearer
